.about {
  padding: 40px;
  background-color: hsla(31, 23%, 37%, 0.187);
  text-align: center;
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  max-width: 500px;
  margin: 0 auto;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px; /* Increase the gap between image and text */
  margin-top: 20px;
}

@media (min-width: 768px) {
  .about-content {
    flex-direction: row; /* Side-by-side layout for larger screens */
    justify-content: center;
  }
}

.about-image {
  width: auto; /* Maintain the aspect ratio */
  max-height: 400px; /* Portrait height */
  object-fit: cover; /* Ensures the image fits well */
  border-radius: 8px; /* Slightly rounded corners */
  box-shadow: 0 4px 6px rgba(71, 70, 70, 0.354); /* Adds a shadow effect */
}
.about-image:hover {
  box-shadow: 0 4px 15px rgba(19, 19, 19, 0.3); /* Adds a shadow on hover */
}

.about-text {
  max-width: 800px;
  text-align: center;
  padding: 0 20px; /* Optional: Adds some padding around text */
}

.about p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 15px 0;
}
