/* src/components/About.css */
.about {
    padding: 40px;
    background-color: #0f3c1358;
    text-align: center;
  }
  
  .about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  
  .about p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto 16px;
  }
  