/* src/components/About.css */
.about {
    padding: 40px;
    background-color: #0f3c1358;
    text-align: center;
  }
  
  .about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #000; /* Adds a solid black line underneath */
    padding-bottom: 5px;
    max-width: 500px;              /* Sets a maximum width */
    margin: 0 auto;                /* Centers the element */
  }
  

  
  
  .about p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 15px auto 16px;
  }
  