.experience {
    padding: 40px;
    background-color: #f4f4f4;
    margin: 5px;
  }
  
  .experience h2 {
    text-align: center;
    font-size: 2rem;
    border-bottom: 2px solid #000; /* Adds a solid black line underneath the paragraph */
    padding-bottom: 5px; 
    max-width: 500px;              /* Sets a maximum width for the paragraph */
    margin: 0 auto; 
  }
  .experience h3 {
    text-align: center;
    font-size: 20px;
  }
  .experience h5 {
    text-align: center;
    margin-bottom: 30px;
  }
  .title {
    font-size: 25px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  .experience-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .experience-item {
    padding: 30px;
    background-color: #0f3c1358;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px;
  }

  
  .experience-date {
    font-size: 1rem;
    color: #888;
  }
  
  .experience-description {
    font-size: 1rem;
    margin-top: 15px;
  }
  
  .tech-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 50px;
    margin-top: 15px;
    padding: 0 20px;
    
  }
  
  .tech-icons > * {
    flex: 0 1 20%;              /* Set each icon to take up 20% of the width (adjustable) */
    text-align: center;         /* Center align the content */
  }
  
  .tech-icons svg {
    transition: transform 0.3s ease;
  }
  
  .tech-icons svg:hover {
    transform: scale(1.2); /* Slight zoom effect on hover */
  }

  .tech-icons-be {
    display: flex;                /* Use flex to align items inline */
    justify-content: center;      /* Center-align the icons horizontally */
    gap: 30px 50px;               /* Spacing between icons */
    margin-top: 15px;
    padding: 0 20px;
    white-space: nowrap;          /* Prevent wrapping of icons */
  }
  
  .tech-icons-be > * {
    flex: 0 1 20%;              /* Set each icon to take up 20% of the width (adjustable) */
    text-align: center;         /* Center align the content */
  }
  
  .tech-icons-be svg {
    transition: transform 0.3s ease;
  }
  
  .tech-icons-be svg:hover {
    transform: scale(1.2); /* Slight zoom effect on hover */
  }
  