.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  color: rgb(4, 4, 4);
  padding: 20px;
  height: auto;
  text-align: center;
  margin-bottom: 10px;
}

.header h2 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 70px;
  color: #0f3c13a6;
  font-family: cursive;
}

.header h4 {
  font-size: 15px;
  color: #0f3c13a6;
  margin: 0;
}

.header p {
  margin-top: 0;
  font-size: 40px;
  margin-bottom: 10px;
}

.header-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: box-shadow 0.3s ease;
}

.header-image:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* Navbar Styling */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1000;
  padding: 10px 0;
  transition: background-color 0.3s ease;
  background: linear-gradient(to right, rgba(239, 238, 238, 0) 0%, rgba(159, 165, 143, 0.3) 100%);
}

.header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;  /* Allows items to wrap if needed */
  gap: 15px;        /* Adds some space between the items */
}

.header nav ul li {
  display: inline;
  margin: 0;
}

.header nav ul li a {
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(135deg, #f9f8f987, #0f3c13a6);
  color: rgb(6, 6, 6);
  padding: 12px 25px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.header nav ul li a:hover {
  background-color: #ccd0cc;
  transform: scale(1.1);
}

body {
  padding-top: 60px;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .header nav ul {
    flex-direction: row;  /* Ensure the items stay in a row */
    justify-content: center;  /* Center the nav items */
  }

  .header nav ul li a {
    padding: 10px 20px;  /* Slightly smaller padding for mobile screens */
    font-size: 14px;      /* Smaller font size for mobile screens */
  }
}
