/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0; /* Set a background color */
  /* background-image: url('./components/forest.jpeg'); Replace with the path to your image */
  background-size: cover; /* Ensure the image covers the entire page */
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}


body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

h1, h2 {
  font-family: 'Helvetica', sans-serif;
}

a {
  text-decoration: none;
  color: #3498db;
}

a:hover {
  text-decoration: underline;
}
main {
  flex-grow: 1; /* Allow the main content area to grow and push footer down */
}